body {
    margin: 0;
    background: pink;
    text-align: center;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}